.contact-info h2, .contact-info h3 {
    text-align: center;
}

.contact-list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px auto;
}

.social-link {
    color: black;
    font-size: 3em;
}

.github:hover {
    color: white;
}

.linkedin:hover {
    color: rgb(33, 119, 177);
}