.source-container {
    background-image: linear-gradient(to right, rgb(95, 224, 20), rgb(44, 114, 85), rgb(14, 233, 185));
    text-align: center;
    width: 50%;
    margin: 20px auto;
    border-radius: 15px;
}

.source-container a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px;
    width: 100%;
    border: inherit;
}

.source-container a:hover {
    text-decoration: underline;
}