* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(45deg, rgb(35, 96, 121), rgba(112,201,24,1), rgb(34, 109, 114));
    font-family: Consolas;
}

.App {
    width: 600px;
    color: white;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.App > h2 {
    text-align: center;
}

hr {
    margin: 30px auto;
    border-color: white;
}

.box {
    background-color: hsla(214, 69%, 10%, 0.8);
    padding: 30px;
    border-radius: 5px;
    margin: 10px 0;
    box-shadow: 5px 5px 5px black;
}

@media screen and (max-width: 700px) {
    .App {
        width: 90%;
    }
}